@use "./responsive.scss" as *;


.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@include lg {
    .layout {
        background-color: rgb(186, 117, 255);
        max-width: 1280px;
    }
    
}

@include md {
    .layout {
        background-color: rgb(241, 165, 244);
        max-width: 768px;
    }
    
}

@include sm {
    .layout {
        background-color: rgb(242, 181, 145);
        max-width: 640px;
    }
    
} 


